main {
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#container {
    display: grid;
    justify-content: center;
    height: 65vh;
    width: 65vh;
    background-color: white;
    border: ridge;
    margin: 0 auto 0 auto;
}

.square {
    border: none;
    border-color: silver;
}